.mdContainer {
  img {
    border-radius: unset;
  }
  h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  * {
    line-height: 1.3rem;
    font-family: system-ui, sans-serif;
  }
  strong {
    font-weight: bold;
  }
  a {
    text-decoration: underline;
    background-image: none;
    &:visited {
      color: var(--secondary);
    }
  }
}
