.projectCard {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* Crazy box-shadow!! Not really sure what is going on here. Copy pasted
     from React Material UI */
  box-shadow:
    0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%),
    0px 1px 3px 0px rgb(0 0 0 / 12%);
  border-radius: calc(var(--standard-spacing) / 2);
  background-color: var(--background);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateZ(0);
}

/* Nice hover effect 🎉 But only on devices that support hover so it isn't so jarring. */
@media (hover: hover) {
  .projectCardBorder:hover .projectCard {
    box-shadow:
      0px 8px 12px -4px rgb(0 0 0 / 25%),
      0px 4px 8px 0px rgb(0 0 0 / 18%),
      0px 2px 16px 0px rgb(0 0 0 / 15%);
    transform: translateY(-4px);
  }
}

.media {
  display: block;
  padding-top: 56.25%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: calc(var(--standard-spacing) / 2) calc(var(--standard-spacing) / 2) 0 0;
  position: relative;
  overflow: hidden;
}

.enhancedImage {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textContent {
  text-align: left;
  height: 100%;
  padding: calc(var(--standard-spacing) * 2);
}

.textContent h3 {
  /* Kind of a weird bottom margin, this is what Material UI has though. */
  margin: 0 0 0.35em 0;
}

.textContent p {
  margin: 0;
}

.footer {
  padding: var(--standard-spacing);
  display: flex;
  flex-direction: row;
  gap: var(--standard-spacing);
}
