/* Screen styles */
.container {
  padding: 2rem;
  max-width: 1400px;
  margin: 0 auto;
}

.header {
  margin-bottom: 2rem;

  .title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  @media print {
    display: none;
  }
}

.controls {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  margin-bottom: 2rem;

  .fileInput {
    display: none;
  }

  @media print {
    display: none;
  }
}

.headerInputContainer {
  margin-bottom: 2rem;
  width: 100%;

  .headerLabel {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
  }

  .headerInput {
    width: 100%;
  }

  @media print {
    display: none;
  }
}

.emptyState {
  text-align: center;
  padding: 4rem 2rem;
  color: #666;

  @media print {
    display: none;
  }
}

.imageEditContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;

  @media print {
    display: none;
  }
}

.imageCard {
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  background: white;
}

.imageWrapper {
  position: relative;
  margin-bottom: 1rem;

  .image {
    aspect-ratio: 4 / 3;
    object-fit: contain;
  }

  .removeButton {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    padding: 0.25rem 0.5rem;

    &:hover {
      background: #ff5252;
      color: white;
      border-color: #ff5252;
    }
  }
}

.captionInput {
  width: 100%;
}

/* Don't display pages container on screen */
.pagesContainer {
  display: none;
}

/* Print styles */
@media print {
  .container {
    padding: 0;
    margin: 0;
    max-width: unset;
  }

  .printText {
    font-family: Arial, serif;
    font-weight: bold;
  }

  .pagesContainer {
    display: grid;
    grid-template-columns: 1fr;

    .page {
      height: 100vh;
      padding: 1rem;

      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto 1fr 1fr;
      justify-items: center;
      gap: 2rem;

      page-break-inside: avoid;

      .pageHeader {
        grid-column: 1 / -1;
        text-align: center;
        width: 100%;
      }
    }
  }

  .printImageCard {
    position: relative;

    /* Makes it so that the image container is always exactly the size available
     to the card */
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    gap: 0.5rem;

    .printImageContainer {
      position: relative;
      .printImage {
        position: absolute;
        inset: 0;
        box-sizing: border-box;

        /* Take up the full space available to it */
        width: 100%;
        height: 100%;

        aspect-ratio: 4/3;
        object-fit: contain;
        border-radius: 4px;
      }
    }

    .printCaption {
      display: block;
      text-align: center;
    }
  }
}
