/**
 * Note: PaperCSS is imported from a local file instead of a CDN URL.
 * 
 * As of 10/18/25 Turbopack (Next.js) currently has a bug where remote CSS imports
 * lose their layer() and media query attributes. Local imports work correctly
 * because Turbopack bundles them inline with proper @layer and @media wrappers.
 * 
 * Bug reports:
 * - Lightning CSS: https://github.com/parcel-bundler/lightningcss/issues/1074
 * - No bug report for Next.js at the moment. Just didn't have the motivation at the time 😅
 */
@import './paperCSS-v1.9.2.css' layer(external) not print;

html {
  font-size: 16px;
}

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
